# Don't exclude the entire gen/ or downloads/ folder b/c they have build artifacts we want to keep in our submodule -DH 
# gen/
# downloads/

# Do exclude the lib/ folder b/c the tensorflow static libs are too large for GitHub (and you can't use git lfs with a public fork)
gen/lib
